<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="change-password" class="e-dialog e-control e-popup e-popup-open modal-content" style="min-width: 380px;background-color: #fff;min-height: 250px;height: auto!important;">
    <div class="e-dlg-header-content">
        <div class="e-dlg-header">Change password</div>
        <div class="modal-close" for="modal-toggle" (click)="cancel()">
            <span class="icon-x"></span>
        </div> 
    </div>
    <div class="e-dlg-content">
        <div class="fill-available-width">
            <div>
                <input id="changepassword-username" type="password"  #newPasswordInput  placeholder="New Password*" autocomplete="off" focused="true" class="change-passowrd-dlg-userinput">
            </div>
            <div>
                <input id="changepassword-password" #confirmPasswordInput type="password"   placeholder="Confirm Password*" class="change-passowrd-dlg-cofirmpaswd">
            </div>
            <div id="password-match-validation" class="password-match-validation-style">New password and Confirm password do not match.</div>
            <div id="password-fields-error-validation" class="password-match-validation-style">Fill the required input fields.</div>
        </div>
    </div>
    <div class="e-footer-content change-password-footer-align" >
        <button type="button" class="f-Secondary-button" (click)="cancel()">
            Cancel
        </button>
        <button type="button" class="f-primary-button" (click)="updateNewPassword()">
            Update
        </button>
    </div>
</div>
